/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'futura-med';
  src: url('Futura PT Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-bold';
  src: url('Futura_PT_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'futura-demi';
  src: url('Futura PT Demi.otf') format('opentype');
}

@font-face {
  font-family: 'futura-light';
  src: url('Futura PT Light.otf') format('opentype');
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#tombstone-show {
  max-height: 470px;
  max-width: 440px;
  min-height: 470px;
  min-width: 440px;
  border: 1px solid black;
  background-color: white;
  display: block;
  margin: auto;
}

#acquiror-logo {
  height: 150px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 15px;
}

#acquiror-logo img {
  margin: auto;
  display: block;
}

#acquired-bar {
  width: 440px;
  height: 36px;
  background-color: #0e4076;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'futura-demi';
}

#acquired-logo {
  width: 380px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
}

#acquired-logo img {
  margin: auto;
  display: block;
}

#represent {
  width: 440px;
  text-align: center;
  font-size: 13px;
  font-family: 'futura-light';
  padding-top: 15px;
}

#transaction-year {
  width: 440px;
  text-align: center;
  font-size: 24px;
  font-family: 'futura-demi';
  padding-top: 12px;
}

#conduct {
  width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conduct-text {
  width: 410px;
  text-align: center;
  font-size: 13px;
  font-family: 'futura-med';
  padding-top: 10px;
  border-top: 1px solid black;
}

#button-div {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5%;
  font-family: "futura-light";
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}