/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'futura-med';
  src: url('Futura PT Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-bold';
  src: url('Futura_PT_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'futura-demi';
  src: url('Futura PT Demi.otf') format('opentype');
}

@font-face {
  font-family: 'futura-light';
  src: url('Futura PT Light.otf') format('opentype');
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#tombstone-show {
  max-height: 670px;
  max-width: 640px;
  min-height: 670px;
  min-width: 640px;
  border: 1px solid black;
}

#acquiror-logo {
  height: 215px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 50px;
  padding-bottom: 30px;
}

#acquiror-logo img {
  /*flex-shrink: 0;*/
  /*width: 100%;*/
  height: 100%;
  margin: auto;
  display: block;
  /*object-fit: contain;*/
}

#acquired-bar {
  width: 640px;
  height: 50px;
  background-color: #0e4076;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'futura-demi';
}

#acquired-logo {
  width: 550px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 15px;
}

#acquired-logo img {
  /*width: 100%;*/
  height: 100%;
  margin: auto;
  display: block;
}

#represent {
  width: 640px;
  height: 17px;
  text-align: center;
  font-size: 18px;
  font-family: 'futura-light';
  padding-top: 15px;
}

#transaction-year {
  width: 640px;
  text-align: center;
  font-size: 35px;
  font-family: 'futura-demi';
  padding-top: 25px;
}

#conduct {
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conduct-text {
  width: 600px;
  text-align: center;
  font-size: 20px;
  font-family: 'futura-med';
  padding-top: 15px;
  border-top: 1px solid black;
}